/*Colors and fonts*/

body {
	background-color: #F7F9FC;
	color: rgb(30, 30, 30);
	font-family: monospace;
	font-size: 17px;
	font-weight: lighter;
}

h1, h2, h3 {
	font-family: Courier;
}

p{
	font-family: sans-serif;
}
h1{
	color: midnightblue;
	font-size: 32px;
	font-weight: 900;
}

h2{
	color: midnightblue;
	font-size: 32px;
	font-weight: lighter;
	font-weight: 500;
}


a {font-family: unset;
	text-decoration: none;
	color : #6B72E1;
	font-weight: 600;
	font-size: 16px;
}

a:hover {
	color: midnightblue;}


/*Custom*/
.container {
	width: 700px;
	margin: 40px auto;
}

.card-white {
	background: white;
	padding: 40px;
	margin:  20px 0px;
	box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.1);
	border-radius: 4px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: firebrick;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: lightgrey;
}

.list-inline i:hover{
	color: midnightblue;
}

#introduction p {
	margin-bottom: 40px;
}

@media (max-width: 960px) {
	.container{ 
		width: 700px; }
}

@media (max-width: 720px) {
	.container{ width: 500px; }
}

@media (max-width: 540px) {
	.container{ width: 300px; }
}



